@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="text-center">
        <h1 class="dropdown">This Shack Is Where It's At!</h1>
        <h4 class="dropdown-item-text">Bring your everything in your bank.</h4>

        <button type="button" class="btn btn-primary">Chocolate</button>
        <button type="button" class="btn btn-secondary">Continental</button>
        <button type="button" class="btn btn-danger">Old Timers</button>
        <button type="button" class="btn btn-warning">Gourmet</button>
        <button type="button" class="btn btn-info">Fruity</button>
        <button type="button" class="btn btn-light">Weird</button>

        <p>
            This is the time to break open your piggy banks, and stack up treats peeps.
            <img src="https://images.pond5.com/candy-confetti-rain-footage-050048489_prevstill.jpeg" alt="Alternate Text" />
            <a href="https://docs.microsoft.com/aspnet/core">And yes we are cheap so if you chooe you'll be leaving with heaps.</a>
        </p>

    </div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Contact Us</a>
        <a class="dropdown-item" href="#">Suggestions</a>
        <a class="dropdown-item" href="#">Follow Us</a>
    </div>
</div>
